<nav>
    <a href="./dashboard">Dashboard</a>
    <a href="">About Our Team</a>
    <a href="">Log Out</a>
  </nav>
<script
 src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
 <script src="../js/app.js"></script>