<h1>THE DAILY PLAN-IT</h1>
<hr>

<form action="/location" method="get">
  <button type="submit">Dashboard</button>
</form>

<form action="/eventData" method="get">
  <button type="submit">View Events</button>
</form>