<h2 class="location-name"><%= location.formatted_query %></h2>

<form action="/location" method="post">
  <input type="text" name="search" required/>
  <button type="submit">New Search</button>
</form>