<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <h1>WELCOME TO THE DAILY PLAN-IT</h1>
    <section>
    <%- include('./pages/loginform') %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>