<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
<h1>THE DAILY PLAN-IT</h1>
<hr>
<body>
  <div id="about-body">
  <section id="chris">
    <h6>Chris Merritt</h6>
    <img src="./images/chris.jpg" alt="Chris">
    <p>I am a full-stack developer with an interest in learning about new technology. I attended the University of Redlands, where I studied computer science and spatial studies. I have about a year of development experience through internships, and am looking for a full time position. Go Hawks!</p>
    <div>
      <a id="little" href="https://github.com/ChristopherKnightMerritt" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/christopherknightmerritt/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>

  </section>  
  <section id="dan">
      <h6>Dan Huy-le</h6>
      <img src="./images/dan-pic.jpg" alt="Dan">
      <p>I've been developing since the summer of 2018. I have experience in HTML, CSS, JavaScript and Java. Before I became a developer, I was a bridge crew member In the Unite States Army. I have a Bachelor's degree in Geology from Norwich University.  I enjoy the logic in programming and hope to become a backend developer.</p>
      <div>
      <a id="little" href="https://github.com/danhuyle508" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/dan-le-6521339b/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>

  </section>  
  <section id="jessica">
      <h6>Jessica Roland</h6>
      <img src="./images/jessica.png" alt="Jessica">
      <p>I am a software developer with experience in HTML, CSS and JavaScript. I am an Air Force veteran with a B.S. in Mathematics. I spent time working in accounting at the NIH, where I reviewed financial reports for federal grants. My interest in coding has grown over the years and I am currently working to turn that interest into a career.</p>
      <div>
      <a id="little" href="https://github.com/jroland415" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/jessica-roland" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
  </section>  
  <section id="paul">
      <h6>Paul Williamsen</h6>
      <img src="./images/paul.jpg" alt="Paul">
      <p>I am software developer with a learning mindset. I come from a diverse background that ended with me working for a startup. Being involved with operations gave me the drive to want to learn how things worked in software development land. I wanted to learn more about the ins and outs so I pursued this path/career, and that is why I ended up at code fellows!</p>
      <div>
      <a id="little" href="https://github.com/pepperedsalt" target="_blank"><i class="fab fa-github fa-3x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/pwilliamsen/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
  </section>
</div>  

  <div class="hidden-div"></div>
  <section class="footer">
  <%- include('../partials/footercontent', {uID}) %>
  </section>
</body>