<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
<h1>THE DAILY PLAN-IT</h1>
<hr>
<body id="about-body">
  <section id="chris">
    <h6>Chris Merritt</h6>
    <img src="https://via.placeholder.com/150" alt="Chris">
    <p></p>
    <div>
      <a id="little" href="https://github.com/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
    </div>

  </section>  
  <section id="dan">
      <h6>Dan Huy-le</h6>
      <img src="https://via.placeholder.com/150" alt="Dan">
      <p></p>
      <div>
      <a id="little" href="https://github.com/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      </div>

  </section>  
  <section id="jessica">
      <h6>Jessica Roland</h6>
      <img src="https://via.placeholder.com/150" alt="Jessica">
      <p></p>
      <div>
      <a id="little" href="https://github.com/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a id="little" href="https://www.linkedin.com/in//" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      </div>
  </section>  
  <section id="paul">
      <h6>Paul Williamsen</h6>
      <img src="https://via.placeholder.com/150" alt="Paul">
      <p></p>
      <div>
      <a id="little" href="https://github.com/pepperedsalt" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a id="little" href="https://www.linkedin.com/in/pwilliamsen/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      </div>

  </section>  

  <div class="hidden-div"></div>
  <section class="footer">
  <%- include('../partials/footercontent', {uID}) %>
  </section>
</body>