<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <header>
  <%- include('../partials/header') %>
  </header>
  <body>
    <div class="dashboard">
    <%- include('../partials/location', {data}) %>
    </div>  

    
  </body>
</html>

