<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
      <form action="/location" method="get">
        <button type="submit">View API data</button>
      </form>
      <form action="/eventData" method="get">
        <button type="submit">View Events</button>
      </form>

    
    <%- include('../partials/location', {location}) %>

    
  </body>
</html>

