<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    
    <%- include('../partials/location') %>

    <% if(events) { %>
      <%- include('../partials/events', {events}) %>
    <% } %>
    
  </body>
</html>

