<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <header>
  <%- include('../partials/header') %>
  </header>
  <body>

      <form action="/location" method="get">
        <button type="submit">View API data</button>
      </form>
      <form action="/eventData" method="get">
        <button type="submit">View Events</button>
      </form>

    <div class="dashboard">
    <%- include('../partials/location', {location}) %>
    </div>  
    
  </body>
</html>

