<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
      <form action="/location" method="get">
        <button type="submit">View API data</button>
      </form>
      <form action="/eventData" method="get">
        <button type="submit">View Events</button>
      </form>

    <form action="/events" method="post">
      <input type="date" name="date" required/>
      <input type="time" name="start_time"/>
      <input type="text" name="title" required/>
      <input type="text" name="description"/>
      <button>submit</button>
    </form>
    <% if(events.length) { %>
    <%- include('../partials/events', {events}) %>
    <% }; %>
    
  </body>
</html>

