<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body id="location-page-body">
    <h1>WELCOME TO THE DAILY PLAN-IT</h1>
    <section>
    <form class="location-form" action="/location" method="post">
      <input type="text" name="search" placeholder="Enter your location" required/>
      <input type="hidden" name="uID" value='<%- uID %>'>
      <button class="location-button" type="submit"> Search</button>
    </section>
    </form>
  </body>
</html>