

<form class="login-form" action="/dashboard" method="get">
  <fieldset>
    <label for="name">
      <section>Name</section>  
      <input type="text" name="username" required>
    </label>
  </fieldset>
  <fieldset>
    <label for="password">
      <section>Password</section>  
      <input type="password" name="password"required>
    </label>
  </fieldset>
  <button type="submit">Save User</button>
</form>
