<h2 class="view-title"> <%- 'get' === formaction ? "Log In" : " Create an account" %></h2>

<form class="login-form" action="/dashboard" method="get">
  <input type="hidden" name="_method" value="<%-'get' === formaction ? 'get':'post'%>">
  <fieldset>
    <label for="name">
      <section>Name</section>  
      <input type="text" name="name"required>
    </label>
  </fieldset>
  <fieldset>
    <label for="password">
      <section>Password</section>  
      <input type="password" name="password"required>
    </label>
  </fieldset>
  <button type="submit">Save User</button>
</form>
<a href="/" method="post"> <%- 'get' === formaction ? "Make a new account" : "I have an account" %></a>
