
<section class="original-form">
  <h2>Login to an existing account:</h2>
  <form class="login-form" action="/check-password" method="post">
    <fieldset>
      <label for="name">
        <section class="name">Name:</section>  
        <input type="text" name="username" required>
      </label>
    </fieldset>
    <fieldset>
      <label for="password">
        <section class="password">Password:</section>  
        <input type="password" name="password"required>
      </label>
    </fieldset>
    <button type="submit">Login</button>
  </form>
  <button class="change-form">Create an Account</button>
</section>

<section class="hidden-form">
  <h2>Create New Account:</h2>
  <form class="login-form" action="/create-login" method="post">
    <fieldset>
      <label for="name">
        <section class="name">Name:</section>  
        <input type="text" name="username" required>
      </label>
    </fieldset>
    <fieldset>
      <label for="password">
        <section class="password">Password:</section>  
        <input type="password" name="password"required>
      </label>
    </fieldset>
    <button type="submit">Create Account</button>
  </form>
  <button class="change-back">Login to an existing account</button>
</section>
