body {
  display: flex;
  background-color: rgba(222, 110, 13, 0.75);
  text-align: center;
}

#index-body {
  flex-direction: column;
}

#dashboard-body {
  flex-direction: column;
}

#dashboard-body h2 {
  margin: 1em;
}

#dashboard-body form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#dashboard-body input{
  margin: 1.5em;
  padding: .6em;
  width: 15em;
  font-size: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

h1 {
  font-size: 3.5em;
  font-family: 'Bungee Shade', cursive;
  color: white;
  padding: .5em;
  border-bottom: 1em, solid, white;
  
}

.original-form h2 {
  margin-bottom: .3em;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.visible-form h2 {
  margin-bottom: .3em;
  font-size: 1.5em;
  padding-bottom: 1em;
  color: green;
}


/* input:focus {
  outline: black;
  
} */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 60px;
  padding-top: 10px;
  font-size: 1.5em;

  
}

.login input{
  margin: 1.5em;
  padding: .6em;
  width: 15em;
  font-size: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

button {
  width: 15em;
  padding: .6em;
  margin-top: 15px;
  font-size: 1em;
  border-radius: 20px;
  outline: none;
  color: black;
}

h3 {
  font-size: 3em;
  font-family: 'Bungee Shade', cursive;
}


.location-name {
  color:white;
  font-size: 2em;
}

.footer a {
  color: white;
  font-size: 2.5em;
  padding: 50px;
  background-color: #333;
  text-decoration: none;
}


/* p {
  color: white;
  font-size: 2em;
  text-align: left;
} */

p.error-message {
  color: rgb(88, 18, 18);
  font-size: 1em;
  text-align: center;
  padding: 1em;
}

#weather-section {
  background-color: whitesmoke;
  color: black;
  margin: 1.5em;
}

.news-section {
  background-color: whitesmoke;
  color: black;
  margin: 1.5em;
}

#weather-section p {
  font-size: 1.5em;
  text-align: left;
  padding: .2em;
}

.news-section p {
  font-size: 1em;
  text-align: left;
  padding: .3em;
}

.news-section img {
  max-width: 10em;
  margin: 1em;
  float: left;
}

/* hr { 
  background-color: white;
  padding: 5px;
} */

.footer {
  width:100%;
  height:200px; 
  background: #333333;

}