/* ------- Login ------------ */

.login {
  color: white;
  font-size: 1.5em;
}

.original-form h2 {
  margin-bottom: .3em;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.visible-form h2 {
  margin-bottom: .3em;
  font-size: 1.5em;
  padding-bottom: 1em;
}

.name, .password {
  font-family: 'Baloo', cursive;

}

.login input{
  margin: 1.5em;
  padding: .6em;
  width: 15em;
  font-size: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

p.error-message {
  color: whitesmoke;
  font-size: 1em;
  font-family: 'Baloo', cursive;
  text-decoration: underline overline;
  text-align: center;
  padding: 1em;
}

.location-form input {
  /* margin: 1.5em; */
  padding: 1em;
  width: 15em;
  font-size: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

/* ------ Dashboard --------- */

#dashboard-body h2 {
  margin-top: .5em;
}

#dashboard-body input{
  margin: 1.5em;
  padding: .6em;
  width: 15em;
  font-size: 1em;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
}

#weather-section {
  color: white;
  margin: 0 auto;
  width: 80%;
}

#weather-section h2{
  font-size: 4em;
}

.news-section {
  background-color: rgba(255, 255, 255, 0.89);
  color: black;
  margin: 1.5em;
  padding: 3vw;
  box-shadow: 5px 10px black;
  border-radius: 5px;

}
#weather-section p {
  font-size: 1.5em;
  font-family: 'Baloo', cursive;
  text-align: center;
  padding: .2em;
}

.news-section p {
  font-size: 1em;
  text-align: left;
  padding: .3em;
}

.news-section img {
  max-width: 10em;
  margin: 1em;
  float: left;
}

/* ------- Events Page ------- */

.event-section {
  background-color: rgba(255, 255, 255, 0.89);
  color: black;
  margin: 1.5em;
  padding: 3vw;
  box-shadow: 5px 10px black;
  border-radius: 5px;
}

#events-form input {
  margin: .6em;
  padding: .4em;
  width: 50%;
  font-size: .8em;
}


#expand-one-btn{
  width: 90%;
  text-align: left;
  margin: 10px;
  border: none;
}
#expand-one-btn:hover{
  background-color: black;
  color: white;
}
.expand-btn-text{
  width: 80%;
  float: left;
  font-size: 2em;
}
.expand-btn-plus{
  text-align: right;
  float: right;
  color: #f2f2f2;
  width: 20%;
  font-size: 2em;
}

.event-section a {
  color: rgb(78, 78, 180);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 1px solid black;
  padding: .2em;
}

